
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300px;

}
.header {
	max-width: 50rem;
	margin: auto;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 500px;
	text-align: center;
}

#about {
	max-width: 50rem;
	margin: auto;
}
.section { 
	max-width: 50rem;
	margin: auto;
}
.footer {
	max-width: 50rem;
	margin: 2rem auto;
	border-color: rgb(65, 64, 64);
}
hr {
	max-width: 60rem;
	margin: auto;
}
p {
	font-family: monospace;
	line-height: 2rem;
}

h3 {
	font-family: monospace;
}

a, a:visited {
	text-decoration: underline;
	text-underline-offset: 3px;
	color: black;
}
a:hover {
	color: hsla(0%, 0%, 0%, 0.5%)
}