body {
    margin: 0px;
    padding: 2px;
    max-width: 55em;
    margin: 0 auto;
    font-family: 'Merriweather';
    font-size: 18px;
}

h1 {
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 20px;
	margin-bottom: 0px;
}

h4 {
    text-align: center;
    opacity: 100%;
    line-height: 1em;
    top: 0px;
    margin: 0px;
}

h2 {
    text-align: center;
    opacity: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
/* h4 {
margin-bottom: 0px;
} */
.story {
	display: flex;
	justify-content: center;
}

p {
    margin: 1em auto; 
    margin-bottom: 0px;
    width: 90%;
	padding-left: 20px;
    padding-right: 20px;
    font-family: 'Merriweather';
    font-size: 18px;
}


#map {
    width: 100%;
    height: 600px;
    margin: 5em auto;
    margin-left: 30em auto;

}
#map2 {
    width: 100%;
    height: 600px;
    margin: 5em auto;
    /* margin-left: 30em auto; */
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.title {
	background-color: #ffffff;
	opacity: 70%;
	border-radius: 1em;
	top: 12em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Open Sans', sans-serif;
	line-height: 2em;
	padding: 1em .6em 17em;
	position: absolute;
	max-width: 12%;
	margin: 0em 1em;
	z-index: 90;
}

.title h1{
	opacity: 100%;
    font-weight: 300;
    font-weight: bold;
    margin-top: 10px;
}
.title p {
	line-height: 1em;
	opacity: 100%;
    padding-top: 0px;
    padding-left: 10px;
    margin-top: .5em;
    margin-left: 0px;
}
.title div span {
	border-radius: 30%;
	display: inline-block;
	height: 5px;
	margin-left: 0px;
    margin-right: 10px;
	width: 5px;
}
.title hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}
.legend {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: 1em 1em 1em 1em;
    position: absolute;
    right: 10px;
    z-index: 90;
    opacity: 100%
  }

.legend p {
    left: 10px;
    
}
/* #typology-legend {
    margin-bottom: 5px;
    top: 290px;
} */
.legend div span {
	border-radius: 0%;
	display: inline-block;
	height: 10px;
	margin-top: 0px;
	margin-right: 20px;
	width: 10px;
}

.title2 {
	background-color: #fff;
	opacity: 70%;
	border-radius: 1em;
	top: 77em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Open Sans', sans-serif;
	line-height: 2em;
	padding: 1em 1.2em 1em;
	position: absolute;
	max-width: 12%;
	margin: 0em 1em;
	z-index: 90;
}

.title2 h1{
	opacity: 100%;
    font-weight: 300;
    font-weight: bold;
    margin-top: 10px;
}

/* .title2 p {
	line-height: 1em;
	opacity: 100%;
    padding-top: 0px;
    margin-top: .5em;
} */

/* .title2 div span {
	border-radius: 100%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
    margin-right: 5px;
	width: 10px;
} */


/* .title2 hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .20em;
} */



/* .legend2 h4 {
	margin: 0 0 0px;
	opacity: 100%
} */
.legend2 p {
	padding-top: 0px;
	margin-top: 0px;
}
.legend2 span {
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: .5px;
	margin: auto;
	display: inline-block;
	height: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	width: 10px;
	opacity: 50%
}
#brutality-legend.legend2 {
    font: 1em/1.5em 'Open Sans', sans-serif;
    padding: 1em 1em 1em 1em;
    position: absolute;
    right: 10px;
    z-index: 90;
    opacity: 100%
}

em {
	margin: 0; 
	margin: 0px;
	padding: 0px 5px;
}